In [1]:
!pip install boruta

Requirement already satisfied: boruta in c:\programdata\anaconda3\lib\site-packages (0.3)
Requirement already satisfied: numpy>=1.10.4 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from boruta) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in c:\programdata\anaconda3\lib\site-packages (from boruta) (1.7.1)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\programdata\anaconda3\lib\site-packages (from boruta) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->boruta) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->boruta) (1.0.1)

In [2]:
import os 
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso, Ridge,SGDRegressor,LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
os.chdir("D:/Imarticus/Supervised Learning/Linear Regression with OLS\Dataset shared by sir/Feature Selection")
cr=pd.read_csv("CreditRisk.csv")
cr # Loan Status is a traget variable

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,LP002971,Male,Yes,4.0,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,Y
977,LP002975,Male,Yes,0.0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,Y
978,LP002980,Male,No,0.0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,Y
979,LP002986,Male,Yes,0.0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,N
980,LP002989,Male,No,0.0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,Y

In [16]:
len(cr.columns)

12

In [4]:
cr = cr.iloc[:,1:13] ## To remove the 1st col Load_id
cr=cr.dropna()

cr.Gender.replace({"Male" :1 , "Female":0} ,inplace = True)
cr.Married.replace({"No" :0 , "Yes":1} , inplace = True)
cr.Education.replace({"Graduate" :1  , "Not Graduate":0} , inplace = True)
cr.Self_Employed.replace({"No":0 , "Yes" :1 }, inplace = True)
cr.Property_Area.replace({"Semiurban" :1 ,"Urban": 2 , "Rural" :3} , inplace = True)
cr.Loan_Status.replace({"Y" :1 , "N" : 0}, inplace = True)

In [5]:
cr_x = cr.iloc[: , 0:11]
cr_y = cr.iloc[:, -1]

In [6]:
cr_x1  = cr_x  # just a back up  would be used later on

In [7]:
cr_x = np.array(cr_x)
cr_y = np.array(cr_y)

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf   = RandomForestClassifier()

In [9]:
from boruta import BorutaPy

In [10]:
boruta_feature_selector= BorutaPy(rf,max_iter=25 )
boruta_feature_selector.fit(cr_x,cr_y)

BorutaPy(estimator=RandomForestClassifier(n_estimators=1000,
                                          random_state=RandomState(MT19937) at 0x207289AE440),
         max_iter=25, random_state=RandomState(MT19937) at 0x207289AE440)

In [11]:
boruta_feature_selector= BorutaPy(rf,max_iter=25 ,verbose=2)
boruta_feature_selector.fit(cr_x,cr_y)

Iteration: 	1 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	2 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	3 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	4 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	5 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	6 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	7 / 25
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	8 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	9 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	10 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	11 / 25
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	12 / 25
Confirmed: 	3
Tentative: 	0
Rejected: 	8


BorutaPy finished running.

Iteration: 	13 / 25
Confirmed: 	3
Tentative: 	0
Rejected: 	8

BorutaPy(estimator=RandomForestClassifier(n_estimators=1000,
                                          random_state=RandomState(MT19937) at 0x207289AE440),
         max_iter=25, random_state=RandomState(MT19937) at 0x207289AE440,
         verbose=2)

### With the above code we now that there are total 3 columns which are important but which one?

In [12]:
boruta_feature_selector.support_ # True define the confirmed part here

array([False, False, False, False, False,  True, False,  True, False,
        True, False])

In [17]:
cr_x1.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [14]:
feature_imp= pd.DataFrame({"Features":cr_x1.columns,"Important":boruta_feature_selector.support_ })

In [15]:
feature_imp.sort_values("Important",ascending=False)

             Features  Important
5     ApplicantIncome       True
7          LoanAmount       True
9      Credit_History       True
0              Gender      False
1             Married      False
2          Dependents      False
3           Education      False
4       Self_Employed      False
6   CoapplicantIncome      False
8    Loan_Amount_Term      False
10      Property_Area      False

<h2><font color='red'>But we cannot find the most important feature from the above method. so, we go to the RFE feature Selection methods</font></h2>