In [1]:
!pip install pandas
!pip install scipy
!pip install stats
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: pandas in c:\users\sasai\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sasai\anaconda3\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\sasai\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scipy in c:\users\sasai\anaconda3\lib\site-packages (1.6.2)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\sasai\anaconda3\lib\site-packages (from scipy) (1.20.2)
Requirement already satisfied: stats in c:\users\sasai\anaconda3\lib\site-packages (0.1.2a0)
Requirement already satisfied: matplotlib in c:\users\sasai\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.16 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib) (1.20.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\sasai\appdata\roaming\python\python38\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: seaborn in c:\users\sasai\anaconda3\lib\site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in c:\users\sasai\anaconda3\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: matplotlib>=2.2 in c:\users\sasai\anaconda3\lib\site-packages (from seaborn) (3.4.1)
Requirement already satisfied: numpy>=1.15 in c:\users\sasai\anaconda3\lib\site-packages (from seaborn) (1.20.2)
Requirement already satisfied: scipy>=1.0 in c:\users\sasai\anaconda3\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sasai\appdata\roaming\python\python38\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sasai\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six in c:\users\sasai\appdata\roaming\python\python38\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\sasai\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

In [2]:
import numpy as np
from numpy.random import randn
import pandas as pd
from scipy import stats
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import os
os.chdir("C:/Users/sasai/Pandas/Hypothesis Testing Data Set")

## Hypothesis testing using T test

#### One Sample t test - two sided

Question:-The Violet industries produces furniture for home and office use. The production engineer claims that the average number of furniture items produced is 30. Test his claim.

Solution:-
The Hypothesis is:-

Ho:The mean Number of items produced my machine A is eqaul to 30,i.e µ=30

Against

Ha:The mean Number of items produced my machine A is not eqaul to 30,i.e µ≠30

In [4]:
df_production=pd.read_csv('Production.csv')

df_production

   Items Produced
0              34
1              34
2              23
3              45
4              23
5              45
6              34
7              23
8              37
9              35

In [5]:
from scipy.stats import ttest_1samp

ttest_1samp(df_production["Items Produced"],30)

Ttest_1sampResult(statistic=1.2674612253287467, pvalue=0.23680061493494728)

#### One Sample t test - One Sided

Question:-The Blaze Industries Pvt. Ltd. claims that their manufactured electric bulbs have a life of 45000 hrs. Test the their claim at 5% level of significance.

Solution:

We can test the claim such the life of bulb is not equal to 45000.
However, it would be more meaningful to test for life of bulbs is less than 45000 hours since it would justify the claim is false.
If the life is more than 45000 hours the claim would be stronger. 
Thus we conduct a lower tail test
By default the in python the level of significance is 5%.

The Hypothesis is:-

Ho:The mean Life of bulb in hours is eqaul to 45000,i.e µ=45000

Against

Ha:The mean Life of bulb in hours is less than or eqaul to 45000,i.e µ≠45000

In [6]:
df_lifeSpan=pd.read_csv("LifeSpan.csv")
df_lifeSpan

t_test_less=ttest_1samp(df_lifeSpan["life"],45000)

p_Value_less=t_test_less.pvalue/2

p_Value_less

0.022628491566062506

#### Two-Sample t-Test for Mean

Question:-The department of transportation of UK considers sample of 6 metro cities in UK and collect the data on average number of road accidents in two year, before and after pandemic. Transportation ministry believes that there is significant difference in average number of road accidents in year 2019 and 2020 after lockdown in pandemic situation . Assume that the difference between two samples follow normal distribution.

In [7]:
df_road_accident=pd.read_csv("road_accident.csv")

df_road_accident

,Average of\nRoad accidents in \nmonth of 2018 (�1),Average of\nRoad accidents in \nmonth of 2019 (�2)
0,120,139
1,142,123
2,105,89
3,167,144
4,109,97
5,94,68

In [8]:
from scipy.stats import ttest_ind

ttest_ind(df_road_accident["Average of\nRoad accidents in \nmonth of 2018 (�1)"],df_road_accident["Average of\nRoad accidents in \nmonth of 2019 (�2)"])

Ttest_indResult(statistic=0.7759116903877894, pvalue=0.4557597290620905)

Question:-In a pig farm, to increase the weight of the pigs two different diets were given. The data for gain in weight is as given. Test whether the two diets differ significantly regarding their effect on increase in weight.

Solution:

The Hypothesis is:-

Ho:The average gain in weight due to diet A is eqaul to average gain in weight due to diet B,i.e µA=µB

Against

Ha:The average gain in weight due to diet A is not eqaul to average gain in weight due to diet B,i.e µA≠µB

In [9]:
df_diet=pd.read_csv("Diet_data.csv")

df_diet

   Diet A  Diet B
0      45      45
1      34      35
2      46      32
3      23      47
4      67      37
5      45      51
6      65      42
7      23      38
8      65      32
9      23      46

In [10]:
from scipy.stats import ttest_ind

ttest_ind(df_diet["Diet A"],df_diet["Diet B"])

Ttest_indResult(statistic=0.5169140149580205, pvalue=0.6115094596012607)

Question:

An pharma company claims to have have produced a new drug which improves sleep of 18 year old teenagers. The hours of sleep for 10 teenagers before and after the giving the new drug is recorded. Test whether there is a significant difference in the average hours of sleep.

Solution:

The Hypothesis is:-

Ho:The average Hours of sleep before medication is equal to the average hours of sleep after medication,i.e µA=µB

Against

Ha:The average Hours of sleep before medication is not equal to the average hours of sleep after medication ,i.e µA≠µB

In [11]:
df_Sleep=pd.read_csv("Sleep_data.csv")

df_Sleep

   Hours of Sleep (Before)  Hours of Sleep (After)
0                      5.0                     7.0
1                      6.0                     7.5
2                      6.5                     9.0
3                      5.5                     7.0
4                      6.5                     8.0
5                      7.0                     7.5
6                      8.0                     7.0
7                      7.5                     7.0
8                      6.0                     7.0
9                      7.0                     6.5

In [12]:
from scipy.stats import ttest_rel

ttest_rel(df_Sleep['Hours of Sleep (Before)'],df_Sleep['Hours of Sleep (After)'])

Ttest_relResult(statistic=-2.2785119632047284, pvalue=0.048680802344322635)

## Hypothesis testing using Z-test
#### One Sample Test

Question:
A random sample of 40 glass rods is taken from a lot manufactured under a new process. They are tested for their breaking strength. Can we claim that the breaking strength is equal to 55 lbs?

Solution:
The Hypothesis is 
Ho:The mean the breaking strength of the glass rod is equal to 55, i.e µ=55
Ha:The mean the breaking strength of the glass rod is equal to 55, i.e µ≠55

In [13]:
df_Strength=pd.read_csv("Strength.csv")

df_Strength

    Strength
0       48.6
1       38.8
2       52.6
3       48.0
4       60.2
5       54.6
6       42.7
7       42.1
8       49.8
9       57.8
10      57.9
11      46.4
12      52.5
13      55.5
14      53.5
15      54.9
16      58.8
17      41.8
18      58.6
19      48.7
20      55.0
21      50.2
22      57.0
23      51.2
24      39.5
25      58.2
26      46.8
27      38.0
28      56.6
29      41.0
30      54.8
31      55.6
32      58.4
33      45.0
34      42.8
35      54.8
36      45.7
37      44.3
38      38.4
39      54.3

In [14]:
from statsmodels.stats import weightstats as stests

stests.ztest(df_Strength['Strength'], value=55)

(-4.431740748679182, 9.347536680921983e-06)

p-value is less than 0.05,hence we reject ho

####  Two Sample Test

Question:
Two types of fertilizers are tested on farm lands of the same size. The yields in quintals are given below. Can we conclude that the two fertilizers have the same yield?

Solution:
Ho:The Average yeild due to fertilizer 1 is equal to the average yeild due to fertilizer 2, i.e µA=µB

Against

Ha:The Average yeild due to fertilizer 1 is equal to the average yeild due to fertilizer 2, i.e µA≠µB

In [15]:
df_Fertilizer=pd.read_csv("Fertilizer.csv")

from statsmodels.stats import weightstats as stests

stests.ztest(df_Fertilizer['Fertilizer 1'],x2=df_Fertilizer['Fertilizer 2'])

(-1.1390306751872912, 0.25469036008906554)

p-value is more than 0.05 , Hence we accept Ho.

# Test for Normality of Data

### Shapiro-Wilk test

In [16]:
#Create the data by generating a random sample
rainfall_in_mm=np.random.random(200)*100
rainfall_in_mm

array([ 3.43303921, 48.56154336, 60.85063683, 34.78523404, 58.65321887,
       95.31690304,  8.12509497, 55.12426866, 98.46584828, 41.7989579 ,
        0.18264564, 81.79704781, 46.40502855, 36.23503615, 90.58033963,
       90.11697771, 39.28620053, 76.28467196, 39.56806362, 63.13128476,
       76.1331859 , 88.53144649, 48.76116384, 74.22483832, 31.94175594,
       17.59551184, 48.26512102, 30.09227322,  1.29177428, 29.2496451 ,
       76.3076748 , 35.17104237, 22.50234404, 54.55481574, 78.0106427 ,
       79.18765271, 58.31642617, 81.21854031, 66.57644164, 26.25632579,
       10.61183461, 43.5673031 , 20.34053398, 45.3648831 , 42.79628206,
       31.72357881, 61.61300417, 46.06523002, 56.42651512, 58.10670128,
       91.23053473, 56.68335122, 32.25434777, 44.08636251,  3.33729962,
       35.03346523, 61.79848449, 17.03047348, 17.52295678, 81.78072016,
        5.81747344,  9.95992542, 89.4137259 , 67.38663691, 14.87959357,
        0.9892672 , 26.61290666, 84.09769015, 63.17148546, 46.12851583,
        1.55795334, 34.47957635, 97.32910841, 87.66578156, 73.2180861 ,
       81.53084343, 74.15484463,  4.80762874, 80.49772754, 29.42285804,
       44.19295245, 30.04973075, 12.31659199,  5.42150053, 64.44460039,
       73.86462115, 28.8107427 , 67.67419998, 58.81323765, 77.68965606,
        2.3904997 , 66.11549684, 44.01066226, 96.83314107, 14.993586  ,
       51.87016389, 32.78437444, 81.35215584,  7.94959689, 61.83723296,
        6.27459614, 57.17523269, 90.44508531, 32.6293298 , 74.69071631,
       61.76931345, 73.84445747, 59.24244704, 81.91276475, 87.15308025,
       89.18316591,  8.38178715, 82.08532623, 98.85312069, 24.85826978,
        9.50401371, 98.58068128, 35.73979715, 89.24023395, 90.18212135,
       48.30397919, 39.76828424, 72.69693416, 64.40098428,  3.22010278,
       11.47074966, 44.92452982, 11.45353613, 66.61675606, 69.30650832,
        2.17998172, 20.26918807, 81.6434535 ,  5.21463265, 60.47070597,
       93.50193379, 74.81070453, 51.59409177, 93.88811895, 73.59317826,
       90.57612812, 66.54585424, 19.86552489,  6.46051727, 59.47418803,
       46.46897788, 26.49477859, 45.45032231, 39.90319656, 23.67268255,
       88.20964636, 40.81578925, 92.71718435, 39.31807058, 13.895061  ,
       24.14203382, 45.32341222, 54.03039695, 20.42807668, 20.12028203,
       76.03794989, 68.22907583, 66.94889914, 90.12251479, 67.74350955,
       34.39866748, 51.0360926 , 42.20241974, 35.62373164, 25.76640637,
       14.65134067, 79.84249946, 36.31374453, 14.67566286, 93.24157515,
       43.76305522, 76.61288192, 61.81741606, 56.33937255, 86.28989989,
        8.21546821, 51.7374817 , 13.04743393, 93.43015664, 82.78487336,
       92.72859639,  4.92044897, 88.48189651, 93.31741732, 27.16571164,
       64.79118727, 89.82645063, 36.59868054, 82.39736226, 42.83691709,
       47.45950519, 80.74354771, 99.99143649, 53.34569285, 19.07979836])

The null and alternate hypothesis of Shapiro-Wilk test are as follows:

Ho:The data is normally distributed. 
#### Against
Ha:The data is normally distributed.

In [17]:
#import Shapiro from the scipy library
from scipy.stats import shapiro

#Conduct the normality test
stat,p=shapiro(rainfall_in_mm)

print("The test statistics is",stat,"and its p-value is",p)

The test statistics is 0.9536048173904419 and its p-value is 4.267559233994689e-06

### Jarque-Bera test

In [18]:
#Create the data by generating a random sample
diameter_in_mm=np.random.normal(loc=4,scale=0.7,size=6000)+np.random.normal(loc=5,scale=0.1,size=6000)
diameter_in_mm

array([9.98626127, 8.37970876, 9.25365636, ..., 9.05999461, 8.52694434,
       8.67335476])

The null and alternate hypothesis of jarque-bera test are as follows:
    Ho:The data is normally distributed.
   #### Against
   Ha:The data is not normally distributed.

In [19]:
#import jarque from the scipy library
from scipy.stats import jarque_bera

#Conduct the normality test
stat,p=jarque_bera(diameter_in_mm)

print("The test statistics is",stat,"and its p-value is",p)

The test statistics is 5.98243435666507 and its p-value is 0.05022626518110351