In [1]:
import os 
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso, Ridge,SGDRegressor,LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.chdir("D:/Imarticus/Supervised Learning/Linear Regression with OLS\Dataset shared by sir/Feature Selection")
cr=pd.read_csv("CreditRisk.csv")
cr # Loan Status is a traget variable

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,LP002971,Male,Yes,4.0,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,Y
977,LP002975,Male,Yes,0.0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,Y
978,LP002980,Male,No,0.0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,Y
979,LP002986,Male,Yes,0.0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,N
980,LP002989,Male,No,0.0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,Y

In [16]:
len(cr.columns)

12

In [3]:
cr = cr.iloc[:,1:13] ## To remove the 1st col Load_id
cr=cr.dropna()

cr.Gender.replace({"Male" :1 , "Female":0} ,inplace = True)
cr.Married.replace({"No" :0 , "Yes":1} , inplace = True)
cr.Education.replace({"Graduate" :1  , "Not Graduate":0} , inplace = True)
cr.Self_Employed.replace({"No":0 , "Yes" :1 }, inplace = True)
cr.Property_Area.replace({"Semiurban" :1 ,"Urban": 2 , "Rural" :3} , inplace = True)
cr.Loan_Status.replace({"Y" :1 , "N" : 0}, inplace = True)

In [4]:
cr_x = cr.iloc[: , 0:11]
cr_y = cr.iloc[:, -1]

In [6]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [7]:
rfe=RFE(dt,5)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass n_features_to_select=5 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [8]:
rfe.fit(cr_x,cr_y)

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=5)

In [9]:
rfe.support_

array([False, False, False, False, False,  True,  True,  True,  True,
        True, False])

In [10]:
cr_x.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [13]:
feature_imp_rfe= pd.DataFrame({"Features":cr_x.columns,"Important":rfe.support_ })

In [14]:
feature_imp_rfe.sort_values("Important",ascending=False)

             Features  Important
5     ApplicantIncome       True
6   CoapplicantIncome       True
7          LoanAmount       True
8    Loan_Amount_Term       True
9      Credit_History       True
0              Gender      False
1             Married      False
2          Dependents      False
3           Education      False
4       Self_Employed      False
10      Property_Area      False

### RFE can also be used for Regression also and can be used with other algorithms